body {
    background-image: url(../img/main_bg.jpg);
    height: 600px;


}

.back-gr-1 {
    background-color: white;
    height: auto;

}

.font-1 {
    font-family: mehdi-style;
}

.size-1 {
    font-size: 50px;
    color: #f32853;

}

@media (min-width : 320px) and (max-width : 426px) {

    .mehdi {
        margin: 30px 0 0 0;

        img {
            width: 50px;
            height: 50px;

        }

        .size-1 {
            font-size: 25px;


        }

        .boxes {
            width: 180px;
            height: 6px;

        }


    }

    .boxes-2 {
        img {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: space-between;

        }
    }
}

.section-2 {
    background-color: black;
}

.font-2 {
    font-family: mehdi-style;
}

.clr-2 {
    color: white;
}

@media (min-width : 320px) and (max-width : 426px) {
    .section-2{
        margin-top: 80px;
    }

    .section-2-1 .size-1 {
        width: 50px;

    }

    .section-2-1 img{
        text-align: center;
        width: 300px;
    }
    .section-2-2{
        text-align: center;
    }


}
@media (min-width : 767px) and (max-width : 1025px){
.chef img{
    width: 140px;
}
    
}
