body {
    background-image: url(../img/main_bg.jpg);
    height: 600px;


}

.back-gr-1 {
    background-color: white;
    height: 600px;

}

.font-1 {
    font-family: mehdi-style;
}

.size-1 {
    font-size: 50px;
    color: #f32853;

}

@media (min-width : 320px) and (max-width : 426px) {

    .mehdi {
        margin: 30px 0 0 0;

        img {
            width: 50px;
            height: 50px;

        }

        .size-1 {
            font-size: 25px;


        }

        .boxes {
            width: 180px;
            height: 6px;

        }

            
        }
    .boxes-2{
        img{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            
        }
    }
    }
